<div class="contenedor">
    <div class="cerrar-sesion">
  <button (click)="cerrarSesion()">Cerrar sesión</button>
</div>
  <h1>Calendario de Actividades</h1>

  <div class="calendario">
    <div
      class="dia"
      *ngFor="let actividad of actividades"
      (click)="seleccionarActividad(actividad.fecha)"
    >
      <span class="fecha">{{ actividad.fecha }}</span>
      <span class="titulo">{{ actividad.titulo }}</span>
    </div>
  </div>

  <!-- Detalles de actividad seleccionada -->
  <div *ngIf="actividadSeleccionada" class="detalles">
    <h2>Detalles de la actividad</h2>
    <p><strong>Nombre:</strong> {{ actividadSeleccionada.titulo }}</p>
    <p><strong>Fecha:</strong> {{ actividadSeleccionada.fecha }}</p>
    <p><strong>Lugar:</strong> {{ actividadSeleccionada.lugar }}</p>
    <p><strong>Cupo:</strong> {{ actividadSeleccionada.cupo }}</p>
    <p><strong>Horas:</strong> {{ actividadSeleccionada.horas }}</p>
    <p><strong>Requiere pago:</strong> {{ actividadSeleccionada.pago ? 'Sí' : 'No' }}</p>

    <a routerLink="/inscripcion" class="btn-inscribirse">Inscribirse</a>
  </div>

 
  <div class="enlaces-rapidos">
    
    <div class="botones">
      <a routerLink="/principal">Inicio</a>
      <a routerLink="/historial">Historial</a>
      
    </div>
  </div>
</div>
