<div class="contenedor">

 <h1>Calendario de Actividades</h1>

<div class="navegacion-meses">
  <button (click)="cambiarMes(-1)">&#8592;</button>
  <span>{{ obtenerNombreMes(mesActual) }} {{ anioActual }}</span>
  <button (click)="cambiarMes(1)">&#8594;</button>

  <button class="btn-hoy" (click)="irAHoy()">Hoy</button>

  <select [(ngModel)]="filtro" (change)="generarCalendario()">
    <option value="todas">Todas</option>
    <option value="futuras">Solo futuras</option>
  </select>
</div>

<div class="calendario-grid">
  <div class="dia-header" *ngFor="let dia of diasSemana">{{ dia }}</div>

 <div
  class="celda-dia"
  *ngFor="let dia of calendarioDias"
  [class.con-actividad]="tieneActividad(dia)"
  [class.dia-hoy]="esHoy(dia)"
  [class.dia-pasado]="esPasado(dia)"
  (click)="seleccionarActividad(dia)"
>
  <div class="numero-dia">{{ dia.getDate() }}</div>

  <div class="actividad" *ngFor="let act of actividadesDelDia(dia)">
    {{ act.titulo }}
  </div>
</div>




 

</div>
