<!-- Preloader -->
<div class="preloader" *ngIf="isLoading">
  <div class="spinner"></div>
</div>

<div class="login-container" [class.hidden]="isLoading">
  <!-- Card de Login -->
  <div class="login-card">
    <h2 class="title">Iniciar Sesión</h2>

    <form (ngSubmit)="login()" #form="ngForm" class="login-form">
      <div class="form-group">
        <input type="text" id="username" name="username" [(ngModel)]="username"
          placeholder="Escriba su número de cuenta... " required />
      </div>

      <div class="form-group">
        <input type="password" id="password" name="password" [(ngModel)]="password"
          placeholder="Escriba su contraseña" required />
      </div>

      <div class="checkbox-group">
        <input type="checkbox" id="showPassword" (change)="togglePassword()" />
        <label for="showPassword">Mostrar contraseña</label>
      </div>

      <!-- Botón Ingresar -->
     <button
  type="button"
  class="btn-login"
  [disabled]="!form.valid"
  (click)="iniciarSesion()"
>
  Ingresar
</button>

      <!-- Botón Registrar (mismo estilo) -->
      <button type="button" class="btn-login" (click)="register()">
        Registrar
      </button>

      <button type="button" class="btn-login" (click)="logout()">
        Cerrar Sesion
      </button>
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </form>
  </div>
</div>
